<%=provide(:title, "Introduction to Croquet")%>

<section>
	<h1>An introduction to Croquet</h1>
	<p>Croquet is one of the very few games where men and women compete on level terms and across the generations from 15 to 90. Many games are played on a handicap basis but social games and some tournaments are played level.</p>

	<p>There are two different versions of croquet – Golf Croquet and Association Croquet. Most of our members play Golf Croquet but there is a small group of enthusiastic Association Croquet players which we would like to expand.</p>

	<p>Both versions of the game are played on the same lawn with the same equipment. Both can be played as singles or doubles.</p>

	<p>In Golf Croquet the players are all on the lawn at the same time and each side plays alternate strokes. The normal game is a 13-point game which means that the first side to win 7 hoops is the winner. Games can also be 7 or 19-point games. A 13-point game normally lasts from 30 – 60 minutes depending on how closely fought it is.</p>

	<p>Association Croquet is like snooker in that only one player is on the lawn at a time with the opponent(s) sitting watching. A full game is 26 points but 14 or 18-point games are quite common as a 26-point game can take 3 - 4 hours to play.</p>

	<p>Further information can be found about the two versions of the game from the Croquet Association’s website through the following links: </p>

	 <p><a href="http://croquet.org.uk/golf/" target="_blank">www.croquet.org.uk/golf/</a> </p>
	 <p><a href="http://croquet.org.uk/association/" target="_blank">www.croquet.org.uk/association/</a> </p>

</section>
